.left{
	height:500px
	width:600px;
	

}


.intro{
  position: absolute;
  top: 0px;
  right: 400px;
  font-size: 3em;
  background-color:;
}

.intro1{
  position: relative;
  top: 80px;
  

  font-size: 1em;
}

.form{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-top: -50px;
	  margin-left: -100px;
}

.last{
	position: absolute;
	bottom:5px;
	left:740px;
}
h5{
	line-height: 1px;
}