<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Automated Lung Ultrasound</title>
  <h1 class="intro">Automated Lung Ultrasound</h1>
  <h4 class="intro1" style="left: 630px">A COVID-19 Initiative(Contact: mahesh@iitpkd.ac.in) </h4>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>


<div class="main">
	<body>
	  <img src= "../static/image.jpg" alt=".." class="left" align="left" style="height:100%;width:auto;position:absolute;top:10px" >	
	  
	  <div class="form">
	  <form method=post enctype=multipart/form-data> 
	  	<input type=file name=file  size="60" />
		<input type=submit value=Predict>
	   </form>
	  </div>

	  <div class="bottom">

	  </div>

	</body>
</div>

</html>